name: Generate Datas

on:
  schedule: # execute every 12 hours
    - cron: "0 */12 * * *" # Ajustei a cron para um formato mais padronizado
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    
    # CORREÇÃO CRUCIAL PARA O ERRO 403: 
    # Concede permissão de escrita ao GITHUB_TOKEN para que o bot possa fazer push de arquivos.
    permissions:
      contents: write 
      
    steps:
      # Snake Animation - ATUALIZADO PARA V3 (que deve resolver o aviso de set-output)
      - uses: Platane/snk@v3
        with:
          github_user_name: EduardoSB-2
          # O arquivo SVG agora é gerado no diretório raiz por padrão, 
          # vamos usar um nome de arquivo diferente para evitar conflitos no seu repositório principal
          svg_out_path: github-contribution-grid-snake.svg 
          
      # A action github-pages agora precisa de um token com permissão.
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          # A branch de saída deve ser a mesma onde a cobra será salva.
          target_branch: main # Assumindo que sua branch principal seja 'main' ou 'master'
          build_dir: . # O ponto (.) indica o diretório raiz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
